@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    background-color: #e8eaf0;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 60vw;
    height: 20%;
    border-radius: 50px;
    background: linear-gradient(145deg, #e0e2e7, #eeeff1);
    box-shadow:  20px 20px 15px #e0e0e0, 
                -15px -15px 20px #ffffff; 
    margin-right: 1vw;
    margin: 0 auto;
}

button {
    font-family: 'Noto Sans KR', sans-serif;
    width: 20%;
    height: 7vh;
    margin-bottom: 10ex;
    outline: none;
    border: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #e7e7e7, #ececec);
    box-shadow:  20px 20px 15px #cfcfcf, 
                -5px -10px 20px #ffffff; 
}

button:active {
    font-family: 'Noto Sans KR', sans-serif;
    width: 20%;
    height: 7vh;
    margin-bottom: 10ex;
    outline: none;
    border: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #e7e7e7, #ececec);
    box-shadow: inset 15px 15px 15px #cfcfcf, 
                inset -5px -10px 20px #ffffff; 
}

@media screen and (max-width: 1200px) {
    button {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    button {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .container {
      width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    h1 {
        font-size: 21px;
    }
    button {
        width: 50%;
    }
}
